AuthUserFile /home/users/2/boyfriend.jp-linepark-ayase/web/shinyoko/.htpasswd
AuthGroupFile /dev/null
AuthName "非公開ページ"
AuthType Basic
require valid-user

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.midori-hoken\.com$ [NC]
RewriteRule ^(.*)$ https://midori-hoken.com/$1 [L,R=301]
